*{
    box-sizing: border-box;
}

header{
    background-image: url('imgs/Toronto_Skyline.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 37px;
}

.sub-words{
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 18.72px;
line-height: 22px;
}